<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicacion</title>
</head>
<body>
    <h2>Inicio
    </h2>
    <ul>
        <li><a href={% url 'home' %}>Inicio</a></li>
        <li><a href={% url 'products' %}>Productos</a></li>

        {% if request.user.is_authenticated %}
            <a href={% url 'exit' %}>Salir</a>
        {% else %}
            <li><a href={% url 'login' %}>Ingresar</a></li>
        {% endif %}

    </ul>

    {% block content %}
    
    {% endblock%}
</body>
</html>